{% if authors is defined  %}
    {% for author in authors %}
      <td>{{ author.id }}</td>
      <td><img src="{{ author.picture }}" alt="{{ author.username }}" width="100"></td>
      <td>{{ author.username|upper }}</td>
      <td>{{ author.email }}</td>
      <td>{{ author.nb_books }}</td>
      <td><a href="{{path('author_details', {'id': author.id})}}">Details</a></td>

     {% endfor %} 

 
    <p>Nombre d'auteurs : {{ authors|length }}</p>
    {%set s=0%}
   {% for i in authors %}
     {% set s=s+i.nb_books %}
   {% endfor %}
      
<p>Nombre de livre:{{s}}  </p>  

{% else %}
<p>tableau est vide</p>
{% endif %}

